<h2>Sign in</h2>

<%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
  <div class="form-group">
    <div class="col-lg-3">
      <label class="sr-only" for="username">Username</label>
      <%= f.text_field :username, id: 'username', class: 'form-control', placeholder: 'Username', autofocus: true %>
    </div>
  </div>
  <div class="form-group">
    <div class="col-lg-3">
      <label class="sr-only" for="password">Username</label>
      <%= f.password_field :password, id: 'password', class: 'form-control', placeholder: 'Password' %>
    </div>
  </div>
  <div>

  <% if devise_mapping.rememberable? -%>
    <div><%= f.check_box :remember_me %> <%= f.label :remember_me %></div>
  <% end -%>

  <div><%= f.submit "Sign in" %></div>
<% end %>

