<!DOCTYPE html>
<html lang="en-us" ng-app="anoside">
  <head>
    <meta charset="utf-8">
    <%= csrf_meta_tags %>
    <title>Anoside</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <%= stylesheet_link_tag 'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
  </head>
  <body class="#{body_class}">
    <div class="row">
      <div class="col-sm-6 col-sm-offset-3">
        <nav class="navbar navbar-default" role="navigation">
          <div class="container">
            <div class="navbar-header">
              <%= link_to 'Anoside', root_path %>
            </div>
            <div class="collapse navbar-collapse navbar-ex1-collapse">
              <%= link_to t('words.signout'), destroy_user_session_path, class: 'navbar-text navbar-link pull-right', method: 'delete' %>
            </div>
          </div>
        </nav>

        <div class="container">
          <%= yield %>
        </div>
     
        <footer>
          <hr>
          <p class="text-center">
            © 2013 Anoside
          </p>
        </footer>
      </div>
    </div>
  </body>
</html>
